@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header,
.main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

body {
  color: #fff;
  background-color: #181719;
}

/* header */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

.logo {
  font-size: 0.875rem;
  font-family: "Crimson Pro", sans-serif;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 0.5rem;
}

.title {
  font-family: "Lora", sans-serif;
  font-weight: 400;
}

/* Main img */

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 20px;
}

.box {
  max-width: 500px;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Lora", sans-serif;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Montserrat";
}

.button-more {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.button-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.button-more:hover::after {
  width: 100%;
}

.img-box {
  position: relative;
}

.img-box img {
  display: block;
  width: 100%;
  height: auto;
}

.designer-box {
  width: 350px;
  height: 170px;
  background-color: #181719;
  position: absolute;
  right: 3rem;
  top: 85%;
  padding: 26px 24px;
  color: #fff;
}

.profile-box {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 20px;
}

.profile-img img {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.interior-profile span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.interior-profile p {
  font-family: "Montserrat", sans-serif;
  color: #828282;
  font-size: 12px;
  margin-top: 10px;
}

.message-box {
  display: inline-block;
  transform: translateY(-10px);
}

.message-box p {
  font-weight: bold;
  max-width: 210px;
  font-family: "Lora", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

/* menu toggle */

.menu-toggle {
  position: fixed;
  z-index: 999;
  right: 5%;
  top: 4rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
}

.menu-toggle.active {
  transform: rotate(-180deg);
}

.menu-toggle span {
  background: #fff;
  width: 100%;
  height: 3px;
  opacity: 0;
}

.menu-toggle.active span:nth-child(1) {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181719;
    text-align: center;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  nav ul li {
    margin-top: 40px;
  }

  nav ul li a:hover {
    opacity: 0.5;
    transition: 0.3s;
  }

  nav ul li a::after {
    content: none;
    display: none;
  }

  .nav ul.open {
    display: flex;
    background-color: #181719;
  }

  .menu-toggle {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  .menu-toggle span {
    opacity: 1;
  }

  nav ul li a:hover::after {
    width: 100%;
  }
}

body.menu-open > *:not(.menu-toggle):not(.nav) {
  display: none;
}

body.menu-open {
  background-color: #181719;
}
